.font(@name, @file, @style: normal, @weight: normal) {
  @font-face {
    font-family: @name;
    src: url('@{file}.woff') format('woff'),
         url('@{file}.eot?#iefix') format('embedded-opentype'),
         url('@{file}.ttf') format('truetype');
    font-style: @style;
    font-weight: @weight;
  }
}

@fonts-path: './fonts';

@caecilia: 'caecilia';
.font(@caecilia, '@{fonts-path}/@{caecilia}/roman');

@bernino-sans: 'bernino-sans';
.font('@{bernino-sans}-narrow-regular', '@{fonts-path}/@{bernino-sans}/narrow-regular');
.font('@{bernino-sans}-narrow-bold', '@{fonts-path}/@{bernino-sans}/narrow-bold');
.font('@{bernino-sans}-bold', '@{fonts-path}/@{bernino-sans}/bold');

body {
  padding-top: 50px;
  margin: 0;
}

.app {
  .pt-progress-bar, .pt-progress-bar .pt-progress-meter { // increase priority
    border-radius: 0;
  }
}

.app-pending {
  height: 10px;
}

.app-input {
  margin: 10px;
}

.app-logo {
  height: 20px;
  margin-right: 20px;
}

.app-title {
  color: #0297c9;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.pt-tag {
  margin: 5px;
  margin-top: 0;
  margin-left: 0;
}

.pt-toast {
  max-width: none;
  width: 35%;
  margin-top: 70px;
}